.bg {
  background-image: #0f2027; /* fallback for old browsers */
  background-image: -webkit-linear-gradient(#0f2027, transparent), url(ketocalcBackground.jpg); /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(#0f2027, transparent, transparent), url(ketocalcBackground.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   /*background-image: linear-gradient(black, transparent), url(KetoCalcBackground.jpg);*/
   height: 100vh;
   background-position: top;
   background-size: cover;
   background-repeat: no-repeat;
   overflow: scroll;
   display: flex;
   justify-content: flex;
   flex-direction: column
 }

 .info {
   padding: 20px;
   display: inline-block;
   background-color: rgba(0, 0, 0, 0.6);
   border-radius: 7px;
   vertical-align: middle;
   margin: 10px;
   color: white
 }

li.list-group-item {
 background-color: transparent;
 border-top: 1px solid #ddd;
 border-radius: 0;
 color: #fff;
 }

.App {
   text-align: center;
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: bold;
   margin-left: 100px;
   margin-right: 100px;
   margin-bottom: 10px;
   padding-bottom: 20px;
}


.react-datepicker {
  font-size: 1em;
}
.react-datepicker__header {
  padding-top: 0.8em;
}
.react-datepicker__month {
  margin: 0.4em 1em;
}
.react-datepicker__day-name, .react-datepicker__day {
  width: 1.9em;
  line-height: 1.9em;
  margin: 0.166em;
}
.react-datepicker__current-month {
  font-size: 1em;
}
.react-datepicker__navigation {
  top: 1em;
  line-height: 1.7em;
  border: 0.45em solid transparent;
}
.react-datepicker__navigation--previous {
  border-right-color: #ccc;
  left: 1em;
}
.react-datepicker__navigation--next {
  border-left-color: #ccc;
  right: 1em;
}



.navbar-nav > li > a.btn {

    font-weight: bold;
    font-size: 18px;
    margin-left: 15px;
}

.navbar-expand-md .navbar-brand {
    font-size: 30px;
    margin-right: 30px;

}

.button-hover:hover{
    -webkit-transform: scale(1.2);
    background: steelBlue;
}

.button-hover span:after {
    opacity: 0;
    content: '';
    transition: 0.5s;
}



.button-hover:hover span:after {
  content: 'Log/Edit';
  padding-right: 5px;
  opacity: 1;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
